name: Deploy Layers

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *" # This will run the workflow daily at midnight

env:
  LAYER_NAME: lambda-layer-chrome-aws
  S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_GITHUB_ARTIFACTS }}
  AWS_REGION: ${{ secrets.AWS_REGION  || 'eu-central-1' }}

jobs:
  check_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get Previous Tag Version
        id: prev_tag_version
        run: echo "tag=$(cat .tag_version || echo '')" >> $GITHUB_OUTPUT

      - name: Get Latest Release URL and Tag Version
        id: latest_release
        run: |
          JSON_RESPONSE=$(curl -s https://api.github.com/repos/Sparticuz/chromium/releases/latest)
          LATEST_RELEASE_URL=$(echo $JSON_RESPONSE | grep -Po '"browser_download_url": "\K[^"]+' | awk 'NR==1')
          TAG_VERSION=$(echo $JSON_RESPONSE | grep -Po '"tag_name": "\K[^"]+')
          if [[ "$TAG_VERSION" == "${{ steps.prev_tag_version.outputs.tag }}" ]]; then
            echo "Skipping as the tag version is the same as the previous run."
            exit 78
          fi
          echo "LATEST_RELEASE_URL=$LATEST_RELEASE_URL" >> $GITHUB_ENV
          echo "TAG_VERSION=$TAG_VERSION" >> $GITHUB_ENV
          echo "FILENAME=chromium-$TAG_VERSION.zip" >> $GITHUB_ENV

      - name: Update Tag Version
        run: echo ${{ env.TAG_VERSION }} > .tag_version

      - name: Download Latest Release
        run: |
          curl -LO ${{ env.LATEST_RELEASE_URL }}
          FILEPATH=$(basename ${{ env.LATEST_RELEASE_URL }})
          echo "FILEPATH=$FILEPATH" >> $GITHUB_ENV

      - name: Upload to S3
        run: |
          S3_URI="s3://${{ env.S3_BUCKET_NAME }}/${{ env.LAYER_NAME }}/${{ env.FILENAME }}"
          aws s3 cp ${{ env.FILEPATH  }} ${S3_URI}
          echo "S3_URI=${S3_URI}" >> $GITHUB_ENV

      - name: Commit Tag Version
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .tag_version
          git commit -m "Update tag version to ${{ env.TAG_VERSION }}"
          git push
